__pycache__/
*.pyc
*.egg-info/
.env
.env.save
data/
logs/
venv/
backups/
data/*.sqlite3
data/*.sqlite3-wal
data/*.sqlite3-shm
data/*.sqlite3.bak*
data/*.sqlite3.corrupted*
data/*.sqlite3.old
logs/*.log
data/*.sqlite3*
data/*.bak*
data/*.corrupted*
*.zip
